<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<!-- missionName: marsMissions[missionIndex].name,
    missionLaunchDate: marsMissions[missionIndex].launchDate,
    missionOperator: marsMissions[missionIndex].operator,
    missionType: marsMissions[missionIndex].missionType,
    imgSrc: marsMissions[missionIndex].img -->
<h1>
    <a href ="/missions">Return Back to All Missions</a>
</h1>
<body>
    <ul>
        <li><%=marsMission.name%></li>
        <li><%=marsMission.launchDate%></li>
        <li> <%=marsMission.operator%></li>
        <li><img src="<%=marsMission.img%>"></img></li>
    </ul>
    

</body>

</html>